<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sound Check</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
          .btn-custom {
            background-color: #3a367c;
            border-color: #2600ff;
            box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
        }

        .card {
            transition: transform 0.5s ease;
        }

        .card:hover {
            transform: scale(1.05);
        }
    </style>
</head>
<body style="background-color: #121212; color: #ffffff;">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Sound Check</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="acoustic">Acoustic<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="electric">Electric</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="bass">Bass</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="amps">Amps</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Salir</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card bg-dark text-white">
                    <img src="/public/img/Acoustic/1920s-Larson-Brothers-Stahl-Style-8-19_a32af05c-87fa-430d-9c05-cdc15420c697_460x.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Producto 1</h5>
                        <p class="card-text">Descripción breve del producto 1.</p>
                        <a href="#" class="btn btn-primary btn-block btn-custom">Ver detalles</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card bg-dark text-white">
                    <img src="/public/img/Acoustic/1936-Epiphone-Zenith-Sunburst-13_460x.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Producto 2</h5>
                        <p class="card-text">Descripción breve del producto 2.</p>
                        <a href="#" class="btn btn-primary btn-block btn-custom">Ver detalles</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card bg-dark text-white">
                    <img src="/public/img/Acoustic/1946-Martin-00-17-15_460x.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Producto 3</h5>
                        <p class="card-text">Descripción breve del producto 3.</p>
                        <a href="#" class="btn btn-primary btn-block btn-custom">Ver detalles</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card bg-dark text-white">
                    <img src="/public/img/Acoustic/1970-Gibson-B-25-N-Natural-12_460x.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Producto 4</h5>
                        <p class="card-text">Descripción breve del producto 4.</p>
                        <a href="#" class="btn btn-primary btn-block btn-custom">Ver detalles</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card bg-dark text-white">
                    <img src="/public/img/Acoustic/1991-Martin-000-45-15_460x.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Producto 5</h5>
                        <p class="card-text">Descripción breve del producto 5.</p>
                        <a href="#" class="btn btn-primary btn-block btn-custom">Ver detalles</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card bg-dark text-white">
                    <img src="/public/img/Acoustic/2014-Gibson-Custom-64-SJ-200-Ltd-Edition-Sunburst-14_460x.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Producto 6</h5>
                        <p class="card-text">Descripción breve del producto 6.</p>
                        <a href="#" class="btn btn-primary btn-block btn-custom">Ver detalles</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="bg-dark text-white text-center py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <p><i class="fas fa-envelope"></i> Correo: soundchek@gmail.com</p>
                </div>
                <div class="col-md-4">
                    <p><i class="fas fa-phone"></i> Teléfono: +57 3200577452</p>
                </div>
                <div class="col-md-4">
                    <p><i class="fas fa-map-marker-alt"></i> Ubicación: Sincelejo-Sucre</p>
                </div>
            </div>
        </div>
        <p>&copy; 2024 Mercado - CUN</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
