<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sound Check</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .btn-custom {
            background-color: #3a367c;
            border-color: #2600ff;
            box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
        }

        .card {
            transition: transform 0.5s ease;
            margin-bottom: 24px; 
        }

        .card:hover {
            transform: scale(1.05);
        }
    </style>
</head>
<body style="background-color: #121212; color: #ffffff;">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Sound Check</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="acoustic">Acoustic</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="electric">Electric</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="bass">Bass</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="amps">Amps<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Salir</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4">
                <div class="card bg-dark text-white">
                    <img src="/public/img/Amps/1956-Fender-Bassman-5E6-Tweed-11_460x.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Fender-Bassman</h5>
                        <p class="card-text">1956</p>
                        <a href="#" class="btn btn-primary btn-block btn-custom">Ver detalles</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-dark text-white">
                    <img src="/public/img/Amps/1966-Fender-Pro-Reverb-16_460x.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Fender-Pro-Reverb</h5>
                        <p class="card-text">1966</p>
                        <a href="#" class="btn btn-primary btn-block btn-custom">Ver detalles</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-dark text-white">
                    <img src="/public/img/Amps/1967-Marshall-JMP-50-5_460x.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Marshall-JMP</h5>
                        <p class="card-text">1967</p>
                        <a href="#" class="btn btn-primary btn-block btn-custom">Ver detalles</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-dark text-white">
                    <img src="/public/img/Amps/2002-Soldano-SLO-100-9_460x.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Soldano-SLO</h5>
                        <p class="card-text">2002</p>
                        <a href="#" class="btn btn-primary btn-block btn-custom">Ver detalles</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-dark text-white">
                    <img src="/public/img/Amps/2017-Dr-Z-Maz-18-Junior-Reverb-Head-1x12-3_460x.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Junior-Reverb</h5>
                        <p class="card-text">2017</p>
                        <a href="#" class="btn btn-primary btn-block btn-custom">Ver detalles</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-dark text-white">
                    <img src="/public/img/Amps/Matchless-SC-Mini-7_460x.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Matchless</h5>
                        <p class="card-text">2020</p>
                        <a href="#" class="btn btn-primary btn-block btn-custom">Ver detalles</a>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <footer class="bg-dark text-white text-center py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <p><i class="fas fa-envelope"></i> Correo: soundchek@gmail.com</p>
                </div>
                <div class="col-md-4">
                    <p><i class="fas fa-phone"></i> Teléfono: +57 3200577452</p>
                </div>
                <div class="col-md-4">
                    <p><i class="fas fa-map-marker-alt"></i> Ubicación: Sincelejo-Sucre</p>
                </div>
            </div>
        </div>
        <p>&copy; 2024 Mercado - CUN</p>
    </footer>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
